@model IEnumerable<FlightsASPMVC.Models.airline_statistics>

@{
    ViewBag.Title = "Airline statistics";
}

<h2>Airline statistics</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.airline_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_day_sortie_count)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.airline_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_day_sortie_count)
        </td>
    </tr>
}

</table>
