@model IEnumerable<FlightsASPMVC.Models.brigade_list>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brigade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brigades)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brigade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brigades)
        </td>
    </tr>
}

</table>
